//custom variables

$main-color:#FFBD00;
$customWhite:#f6f6f6;
$customBlack:#222222;
$gray:#535151;
$blue:#0085ff;
$lightblack:#808489;
$roboto-regular:'Roboto';
$sans:'Open Sans', sans-serif;
$roboto-condence:'Roboto Condensed', sans-serif;
$montserrat:'Montserrat', sans-serif;
